<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>map for django</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
   <h1>Map comes here</h1>
<<div id='map' style='width: 400px; height: 300px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicHVydXNvdGgiLCJhIjoiY2tpcHcwOHpyMDltODM0cGp0NjVneGVsOSJ9.rGo6gmdGNU0fVi5K8h3Bsg';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11'
});
</script>
</body>
</html>